<!DOCTYPE html>
<html  >
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="lib/angular.min.js"></script>
<script type="text/javascript" src="lib/angular-route.min.js"></script>
<style type="text/css">
.btn1 {
height: 30px;
position: absolute;
right: 0;
top: 5px;
border-radius:1px;
}
  body{
      padding-top:100px;
      }
</style>
</head>
<body data-ng-app="jobapp">

<div class="container">
<div data-ng-controller="Jobcontroller">
<form role="form" class="form-horizontal" action="" data-ng-submit="submit()">
<h2> Create job</h2>
<input type="hidden" data-ng-model="id" >

<div class="form-group">
<label for="userid" class="col-sm-3 control-label">userid</label>
<div class="col-sm-9">
<input type="text" name="userid" data-ng-model="userid" class="form-control" autofocus> <br>
</div></div>
<div class="form-group">
<label for="title" class="col-sm-3 control-label">Title</label>
<div class="col-sm-9">
<input type="text" name="title" data-ng-model="title" class="form-control" autofocus> <br>
</div></div>
<div class="form-group">
<label for="company" class="col-sm-3 control-label">company</label>
<div class="col-sm-9">
<input type="text" name="company" data-ng-model="company" class="form-control" autofocus> <br>
</div></div>

<div class="form-group">
<label for="jobdetails" class="col-sm-3 control-label">JobDetails</label>
<div class="col-sm-9">
<textarea draggable="false" rows="10" name="jobdetails" data-ng-model="" class="form-control"></textarea>
</div></div>

<div class="form-group">
<label for="doc" class="col-sm-3 control-label">doc</label>
<div class="col-sm-9">
<input type="text" name="doc" data-ng-model="doc" class="form-control" autofocus> <br>
</div></div>
<div class="form-group">
<div class="col-sm-9 col-sm-offset-3">
<button type="submit" class="btn btn-primary">Save job</button>
</div></div>
</form>
</div>
<div class="container" style="padding-top:10px">
<div class="row">
<div class="col-md-4 col-md-offset-3">
<form action="" class="search-form">
<div class="form-group has-feedback">
<input type="text" data-ng-model="search" placeholder="search job" class="form-control">
<span class="glyphicon glyphicon-search form-control-feedback"></span>
</div>
</form>
</div></div></div>
<div data-ng-init="getAllJobs()">
<div data-ng-repeat="job in jobss | filter:search">


<div class="container">
<div class="row">
<div class="span3">
<div class="well">
<h2 class="text-info">{{job.title}}</h2> 
<hr> 
<p>{{job.company}}</p>
<p>{{job.jobdetails}}</p>
<p>{{job.doc}}</p>
<p>{{job.lastdate}}</p>
<hr>
<p><button data-ng-click="editjob(job.id,job.title,job.description)">edit</button>
<button data-ng-click="deletejob(job.id)" class="btn btn-primary btn-danger">delete</button></p>
</div>
</div></div></div>

</div> 
</div>
</div>

<script type="text/javascript" src="jobcntrl.js"></script>
</body>
</html>