<!DOCTYPE html>
<html>
   <head>
      <title>login</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script type="text/javascript" src="lib/angular.min.js"></script> 
 <script type="text/javascript" src="lib/angular-route.min.js"></script> 
 <script type="text/javascript" src="lib/angular-cookies.js"></script>
       <script src="js/logincntrl.js"></script> 
        <script src="js/loginservice.js"></script> 
       

   </head>
   <!-- <style>
   div.sr{
   margin-right:700px;
   }
   </style> -->
<body data-ng-app="myApp">

<div class="container">
    <div class="row">
		<div class="span12">
			<form class="form-horizontal" action=''  data-ng-submit="vm.login()" >
			  <fieldset>
			    <div id="legend">
			      <legend class="">Login</legend>
			    </div>
			    <div class="control-group">
			      <!-- Username -->
			      <label class="control-label"  for="username">Username</label>
			      <div class="controls">
			        <input type="text" data-ng-model="vm.username" id="username" name="username" placeholder="" class="input-xlarge" >
			      </div>
			    </div>
			    <div class="control-group">
			      <!-- Password-->
			      <label class="control-label" for="password">Password</label>
			      <div class="controls">
			        <input type="password" data-ng-model="vm.password" id="password" name="password" placeholder="" class="input-xlarge">
			      </div>
			    </div>
			    <div class="control-group">
			      <!-- Button -->
			      <div class="controls">
			        <button class="btn btn-success">Login</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>



</body>
</html>

