<!DOCTYPE html>
<html>
   <head>
      <title>login</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script type="text/javascript" src="lib/angular.min.js"></script> 
 <script type="text/javascript" src="lib/angular-route.min.js"></script> 
 <script type="text/javascript" src="lib/angular-cookies.js"></script>
       <script src="js/logincntrl.js"></script> 
        <script src="js/loginservice.js"></script> 
       

   </head>
<body data-ng-app="myApp">
<div data-ng-controller="Logincontroller">

<h2>Login</h2>
<form action="" data-ng-submit="vm.login()">
Username:
<input type="text" data-ng-model="vm.username"><br><br>
Password:
<input type="password" data-ng-model="vm.password">
<button type="submit">Login</button>
</form>
</div>

</body>
</html>

